[submodule "vendor/nodeeditor"]
	path = vendor/nodeeditor
	url = https://github.com/paceholder/nodeeditor.git
[submodule "vendor/poco"]
	path = vendor/poco
	url = https://github.com/pocoproject/poco.git
